*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}
header{
    height: 38px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
}
span{
    display: flex;
    height: 100%;
}
header a{
    text-decoration: none;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 0 16px;
}
header a:hover{
    color: black;
    background-color: white;
}
.logo, #search:hover, h1:hover{
    background-color: #009688;
}
#material-icons{
    margin-right: 10px;
}
.logo:hover, .dropdown:hover, .dropdown-content a:hover{
    background-color: #CCCCCC;
}
.dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 0 16px;
    cursor: pointer;
    color: white;
}
.dropdown:hover{
    color: black;
}
.dropdown .fa{
    margin-left: 5px;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {display: block;}
#search{
    width: 46px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: none;
    cursor: pointer;
    color: white;
}
#menu{
    display: none;
}
#logo{
    display: none;
}
#modal{
    display: none;
}
#content1{
    position: relative;
}
img{
    width: 100%;
    max-height: 85vh;
}
h1{
    position: absolute;
    bottom: 20px;
    left: 15px;
    font-size: 24px;
    background-color: black;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
}
#modal1{
    position: absolute;
    width: 900px;
    background-color: #009688;
    min-height: 230px;
    color: white;
    font-size: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    animation-name: modal1;
    animation-duration: 1s;  
    animation-fill-mode: forwards;
}
@keyframes modal1 {
    from {top: 0px;}
    to {top: 100px;}
}
#modal1 div{
    background-color: white;
    padding: 1px 0;
    color: black;
}
#modal1 p{
    margin: 15px 16px;
}
#modal1 button{
    width: 43px;
    height: 38px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    border: none;
    background-color: #009688;
    color: white;
    cursor: pointer;
}
#modal1 a{
    color: #009688;
    margin: 0 5px;
}
#modal1 button:hover{
    color: black;
    background-color: #CCCCCC;
}
#black{
    position: fixed;
    top: 0;
    background-color: black;
    opacity: 80%;
    height: 100vh;
    width: 100vw;
    display: none;
}
#content2, #content4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 16px;
    row-gap: 20px;
    width: 100%;
}
#content2 h2, #content4 h2{
    font-size: 30px;
}
#content2 h5, #content4 h5{
    font-size: 15px;
    margin: 15px 0;
}
#team{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.persons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 15px;
}
.persons img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.persons img:hover{
    opacity: 60%;
}
.persons h4{
    font-size: 24px;
}
.persons h6{
    font-size: 15px;
}
#content3{
    background-color: #333333;
    padding: 64px 8px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    position: relative;
}
#box1{
    color: white;
    max-width: 350px;
}
#box1 h2{
    font-size: 30px;
    margin: 10px 0;
}
#box1 p{
    font-size: 15px;
    line-height: 1.5;
}
.box2{
    height: 100%;
    background-color: white;
    max-width: 350px;
}
.box2 img{
    height: 50%;
}
.box2 h3, .box2 h5, .box2 p{
    margin: 10px 16px;
}
.box2 h3{
    font-size: 24px;
}
.box2 h5{
    font-size: 20px;
}
.box2 p{
    font-size: 15px;
}
#plus{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 25px;
    bottom: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #009688;
    color: white;
}
#plus:hover{
    background-color: gray;
    color: black;
    cursor: pointer;
}
nav{
    position: fixed;
    background-color: white;
    width: 300px;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    flex-direction: column;
    display: none;
    z-index: 2;
}
nav button{
    border: none;
    color: #009688;
    font-size: 36px;
    background-color: white;
    padding: 8px 16px;
    width: 100%;
    margin-bottom: 50px;
}
nav button:hover{
    color: black;
    background-color: #CCCCCC;
    cursor: pointer;
}
nav a{
    padding: 8px 16px;
    width: 100%;
    text-decoration: none;
    font-size: 36px;
    color: black;
}
nav a:hover{
    background-color: #CCCCCC;
}
#package{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    column-gap: 15px;
}
ul{
    border: solid 1px gainsboro;
}
ul:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
li{
    list-style: none;
    padding: 16px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px gainsboro;
}
li:first-child{
    height: 100px;
    font-size: 24px;
    color: white;
    background-color: black;
}
li:last-child{
    background-color: gainsboro;
}
#pro{
    background-color: gray;
}
b, #package i{
    margin-right: 5px;
}
.price{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.price h3{
    font-size: 30px;
}
.price h6{
    font-size: 15px;
    color: gray;
}
#package button{
    padding: 12px 24px;
    border: none;
    background-color: #009688;
    color: white;
    font-size: 15px;
}
#package button:hover{
    background-color: #CCCCCC;
    color: black;
    cursor: pointer;
}
@media only screen and (max-width: 600px){
    #search, span{
        display: none;
    }
    #menu{
        width: 46px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        border: none;
        cursor: pointer;
        color: white;
        position: relative;
    }
    #menu:hover{
        background-color: white;
        color: black;
    }
    #logo{
        display: flex;
    }
    #modal{
        background-color: black;
        position: absolute;
        top: 38px;
        width: 100vw;
        z-index: 1;
    }
    #modal a{
        padding: 8px 16px;
    }
    #modal a:hover{
        background-color: #CCCCCC;
    }
    #package{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 15px;
    }
}